### Linux ###
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# Dependency directories
node_modules/

# vuepress build output
src/.vuepress/dist

# vuepress v2.x temp and cache directory
.temp

# Stores VSCode versions used for testing VSCode extensions
.vscode-test


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
